// elimina el diseño por default de los navegadores
* {
    font-family: $raleway;
    margin: $cero;
    padding: &cero;
    // list-style: none;
    // text-decoration: none;
    box-sizing: border-box;
}